<main id="app">
    <app-phaser-game></app-phaser-game>
    <div class="controls-panel">
        <h3>Game Controls</h3>
        <div>
            <button class="btn" (click)="changeScene()">Change Scene</button>
        </div>
        <div>
            <button class="btn" [disabled]="canMoveSprite" (click)="moveSprite()">Toggle Movement</button>
        </div>
        <div class="sprite-position">
            Sprite Position:
            <pre>{{ spritePosition | json }}</pre>
        </div>
        <div>
            <button class="btn" (click)="addSprite()">Add New Sprite</button>
        </div>
        <div class="mt-2">
            <a routerLink="/config" class="btn btn-secondary">Game Configuration</a>
        </div>
    </div>
</main>
